.bottom {
  display: block;
  min-height: 68vh;
  width: 100%;
  /*background-color: grayscale($color: #0c0c0c) ;*/
  background-size: cover;
  background-position: center;
  position: relative;
  overflow-x: hidden;
  overflow-y: hidden;
  margin-bottom: 3rem;
  background-color: var(--sand2);
}

.sky-box {
  background-color: var(--sky2);
  z-index: -3;
  min-height: 48vh;
}

.sun-box {
  min-height: 31rem;
  height: 45vw;
  position: absolute;
  bottom: 5rem;
  left: calc(20vh - 10px);
  max-width: 47rem;
  width: 75vw;
}

.sun {
  border-radius: 50%;
  border-width: 0px;
  height: 7.5rem;
  width: 7.5rem;
  position: absolute;
  top: 5px;
  left: 25px;
  background-color: var(--yellow1);
  z-index: 1;
  transform-origin: -800% 1500%;
  animation: sun-goes-down 6s;
  box-shadow: floralwhite 10px 10px 8em;
}

@keyframes sun-goes-down {
  0% {
    transform: rotate(-45deg);
    background-color: var(--yellow3);
  }
  50% {
    background-color: var(--yellow2);
  }
  100% {
    background-color: var(--yellow1);
  }
}

.moon {
  display: none;
  border-radius: 50%;
  border-width: 0px;
  height: 7.5rem;
  width: 7.5rem;
  position: absolute;
  top: 5px;
  left: 25px;
  z-index: 1;
  transform-origin: -800% 1500%;
  animation: sun-goes-down 6s;
  box-shadow: #ecedee 0px 0 3em;
  border-radius: 50%;
  border-width: 0px;
  height: 7.5rem;
  width: 7.5rem;
  position: absolute;
  top: 5px;
  left: 25px;
  z-index: 1;
  transform-origin: -800% 1500%;
  box-shadow: #ecedee 0 0 3em;
  background-image: url(/img/numberedmoons/moon9.svg);
  animation: moon1 6s;
}

@keyframes moon-goes-down {
  0% {
    transform: rotate(-45deg);
    background-image: url(/img/numberedmoons/moon9.svg);
  }
  50% {
    background-image: url(/img/numberedmoons/moon9.svg);
  }
  100% {
    background-image: url(/img/numberedmoons/moon9.svg);
  }
}

@media only screen and (min-width: 1100px) {
  .sun-box {
    height: 25vw;
  }
}

.color1 {
  stop-color: var(--sand1);
}

.color2 {
  stop-color: var(--sand2);
}

#sand1 {
  fill: url(#g1);
}

.path {
  height: 230px;
  bottom: -10px;
  top: 110px;
  /*background:linear-gradient(to bottom, transparent, rgba(24, 24, 24, 0.885)),repeat-x;*/
  position: absolute;
  z-index: 2;
}

.color3 {
  stop-color: var(--sand1);
}

.color4 {
  stop-color: var(--sand2);
}

#sand2 {
  fill: url(#g2);
}

.background svg {
  height: 240px;
  top: 200px;
  position: absolute;
  bottom: 0px;
  left: 0;
  right: 0;
  z-index: 1;
}

/*---------------------------------car------------------------------*/
.car {
  position: absolute;
  z-index: 3;
  width: 100px;
  left: 145px;
  bottom: 30px;
  --animn:car;
  --animdur:1.5s;
  --animtf: linear ;
  --animic: infinite;
  --animps: running;
}

@keyframes car {
  100% {
    transform: translateY(-1px);
  }
  70% {
    transform: translateY(1px);
  }
  0% {
    transform: translateY(-1px);
  }
}

.back-wheel {
  left: 152.4px;
  bottom: -192px;
}

.front-wheel {
  left: 218.4px;
  bottom: -192px;
}

.wheel {
  position: absolute;
  z-index: 3;
  width: 24px;
  --animn:wheel;
  --animps:running;
}

[data-animation] {
  animation: var(--animn, none) var(--animdur, 1s) var(--animic, infinite) var(--animtf, linear) var(--animps, running);
}

@keyframes wheel {
  100% {
    transform: rotate(360deg);
  }
}
/*# sourceMappingURL=anim.css.map */